/*
Milestone 4
● Ricerca utenti: scrivendo qualcosa nell’input a sinistra, vengono visualizzati solo i
contatti il cui nome contiene le lettere inserite (es, Marco, Matteo Martina -> Scrivo
“mar” rimangono solo Marco e Martina)*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sfondo{
    height: 100vh;
    background-image: 
    linear-gradient(to bottom,
    #359589 0vh,
    #359589 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
}

.sent{
    background-color: #D8F8BF;
}

.received{
    background-color: white;
}

.img-profile{
    width: 80px;
    height: 80px;
}

p{
    margin-bottom: 0;
}

.sfondo-chats{
    background-image: url(./asset/img-boolzap/mine.jpg);
}
